# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Spark
spark-warehouse/
metastore_db/
derby.log
*.crc
_SUCCESS

# Data
test
data/raw/
data/working/
data/schema_reference/
data/cleaned_monthly/
data/curated/
data/spark-events/
data/spark-tmp/
*.parquet
*.zip
data/working/*.csv
!data/raw_catalog.csv

# VS Code
.vscode

# Spark
.spark-tmp

# OS
.DS_Store
output/spark-events/
